* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Removed header class and used header element as selector*/
/*Also adjusted 'header div' to 'header nav' to apply styles to new semantic added 'nav'*/

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Div selector removed changed to reflect nav html semantic element that was added*/

a {
    color: #ffffff;
    text-decoration: none;
}

/*Removed p style of 16px font size as this is already the default p element font size */

.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.background-image figcaption {
    display: none;
}
/*Changed selector to reflect class change in html from 'hero' to 'background-image'*/
/*Added a style with display: none - wanted a figcaption element for accessibility purposes but don't want the caption shown on the page*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Removed benefits class selector, added aside to reflect semantic element added to html*/

.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Removed identical style values from multiple classes and grouped them together as class="benefits"*/

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Removed identical style values from multiple classes and grouped them together as class="benefits"*/

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Removed identical style values from multiple classes and grouped them together as class="benefits"*/

.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Removed identical style values from multiple classes and grouped them together as class="main-section"*/


.main-section img {
    max-height: 200px;
}
/*Removed identical style values from multiple classes and grouped them together as class="main-section"*/


.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Removed identical style values from multiple classes and grouped them together as class="main-section"*/


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer div p {
    font-size: 20px;
    font-weight: bolder;
}
/*Removed class selector and changed to html selector "footer" and "footer h2"*/
/*Changed 'footer h2' to 'footer div p' - added font-weight property to re-create original <h2> tag style*/
